<ion-header>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="primary" >
      <ion-button  routerLink="./new-note"  slot="icon-only" >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button>
        <ion-back-button defaultHref="/categories/categories/note" ></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>{{mark.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
